name: CI - Unit Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]


jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code
      - name: Checkout Code
        uses: actions/checkout@v4

      # Setup .NET SDK
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      # Restore dependencies
      - name: Restore Dependencies
        run: dotnet restore

      # Build the solution
      - name: Build Solution
        run: dotnet build --no-restore --configuration Release

      # Run Unit Tests
      - name: Run Unit Tests
        run: dotnet test MailHub.sln --no-build --configuration Release --logger "trx;LogFileName=test-results.trx"

      # Upload Test Results (Optional)
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: ./Tests/TestResults/TestResults.trx
